{% extends 'base.html.twig' %}

{% block title %}Редактирование курса{% endblock %}


 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet" />

 {% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}

{% block body %}
<div style="margin-left:2%">
    <h1><b>Редактирование курса</b></h1>

    {{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="d-flex flex-row">
        <div class="p-2"> <a class="btn btn-outline-primary" href="{{ path('course_index') }}">К списку курсов</a></div>
        <div class="p-2">{{ include('course/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
