{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}



 {% block stylesheets %}

     <link href="{{asset('build/styles.css')}}" rel="stylesheet"/>

 {% endblock %}   
         

    {% block javascripts %}

        <script src="{{asset('build/runtime.js') }}" ></script>
        <script src="{{asset('build/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js')}}"  ></script>

    {% endblock %}

{%  block header %}

    <div class="d-flex flex-row-reverse">

        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <div class="p-2"> <a id="coursenew" class="btn btn-outline-primary" href="{{ path('course_new') }}">Новый курс</a></div>
            <div class="p-2"> <a class="btn btn-outline-primary" href="{{ path('app_profile') }}">Личный кабинет</a></div>
            <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Разлогиниться</a></div>

    {% elseif is_granted('ROLE_USER') %}
        <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_profile') }}">Личный кабинет</a></div>
        <div class="p-2">
            <a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Разлогиниться</a></div>



    {% else %}
        <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_login') }}">Авторизация</a></div>
        <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_registry') }}">Регистрация</a></div>

    {% endif %}

    </div>



{%  endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>   {{message}} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}



<h1>Курсы</h1>


<div class="row">
    {% for course in courses %}
        <div class="col-md-3">
            <div class="bg-light p-5 rounded">
                <h2><a id="courseId" style="text-decoration: none"
                       href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}
                    </a></h2>

                 <p class="lead"><p>{{ course.description }}</p></p>

                {% if is_granted('ROLE_USER') %}
                 <p>  Стоимость: {{ course.cost==null?'Бесплатно':course.cost }} </p>



                {% if course.validity != null  and course.validity > 'now'|date('Y-m-d H:i:s')  %}

                    <button type="button" class="btn btn-dark" disabled="true"> Арендован до {{course.validity}}

                {% elseif course.email != null and course.validity == null %}
                    <button type="button" class="btn btn-dark" disabled="true"> Куплено</button>

                {% elseif course.type == 0 %}
                <a  type="button" class="btn btn-warning" href="{{ path('course_pay', {'code': course.code}) }}"> Получить</a>

            {% elseif course.type == 2 %}

                <button type="button" data-code ="{{ course.code }}" class="btn btn-primary course-code" data-toggle="modal" data-target="#exampleModal"> Арендовать </button>

            {% else %}

                <button type="button" data-code = "{{ course.code }}"  class="btn btn-primary course-code" data-toggle="modal" data-target="#exampleModal">
                   Купить
                </button>

                {% endif %}
                        {% endif %}
            </div>

        </div>


    {% endfor %}








    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    Вы действительно хотите приобрести данный курс?
                </div>
                <div class="modal-footer">
                    <button type="button" id="exit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a type="button" id="frida" class="btn btn-success" href="#"> Купить </a>
                </div>
            </div>
        </div>
    </div>



    <script>


        $('button.course-code').click(function (e) {

            $('#frida').attr('href', '/course/'+ $(this).attr('data-code') + '/pay');
            $('#exampleModal').modal('show');


        })

        $('button.btn-secondary').click(function (e) {


            $('#exampleModal').modal('hide');


        })

        $('button.close').click(function (e) {
            $(".alert").alert('close')
        })

    </script>


    {% endblock %}


