{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}


 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

 {% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}

{% block body %}

    <h1>Добро пожаловать в личный кабинет</h1>

    <div class="card">
        <div class="card-header">
            <?php echo $data[0]['postname'] ?>
        </div>
        <div class="card-body">
            <h5 class="card-title">Ваш email: {{ username }}</h5>
            <p class="card-text">Баланс: {{ balance }} </p>

            <p>Доступные роли:
                {% for role in roles %}
                    <tr>
                        <li>{{ role }}</li>
                    </tr>
                {% endfor %}
            </p>

        </div>
    </div>

    <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('course_index') }}">К списку курсов</a></div>
    <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_transactions') }}">Список операций</a></div>
{% endblock %}
