{% extends 'base.html.twig' %}

{% block title %}Транзакции пользователя{% endblock %}


 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

 {% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}


{% block body %}



    <table class="table table-blue">
        <thead>


        <tr>
            <th scope="col"></th>
            <th scope="col">Тип операции</th>
            <th scope="col">Курс</th>
            <th scope="col">Дата</th>
            <th scope="col">Баланс</th>
        </tr>
        </thead>
        <tbody>

        {% for keyA, valueA in transactions %}

            <tr>

                <th scope="row">

                <td>{{ valueA['type'] }}</td>
                <td> <a href="{{ path('course_show_by_code', {'code': valueA['course_code']}) }}">{{ valueA['course_code'] }}</a></td>
                <td>{{ valueA ['created_at']['date'] }}</td>
                <td>{{valueA['amount']}}</td>

                </th>

            </tr>

        {% endfor %}


        </tbody>
    </table>

    <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('course_index') }}">К списку курсов</a></div>
    <div class="p-2"><a class="btn btn-outline-primary" href="{{ path('app_profile') }}">В личный кабинет</a></div>
{% endblock %}
