{% extends 'base.html.twig' %}

{% block title %}Редактирование урока{% endblock %}

 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

 {% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}

{% block body %}

        <h1><b>{{ lesson.name }}</b></h1>

        <h4><p>Курс <a style="text-decoration: none"
                       href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}
                </a></p></h4>
        {{ include('lesson/_form.html.twig', {'button_label': 'Обновить'}) }}

        <p><a class="btn btn-outline-primary" href="{{ path('course_index') }}">К списку курсов</a></p>

        {{ include('lesson/_delete_form.html.twig') }}

{% endblock %}
