{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

{% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}

{% block body %}
    <div style="margin-left:2%">
        <h1><b>Cоздать новый урок</b></h1>


        {{ include('lesson/_form.html.twig') }}

        <a class="btn btn-outline-primary" href="{{ path('course_index') }}">К списку курсов</a>
    </div>
{% endblock %}
