{% extends 'base.html.twig' %}

{% block title %}Урок{% endblock %}

 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

 {% endblock %}

 {% block javascript %}

 <script src="{{ asset('build/runtime.js') }}" />
 	<script src="{{ asset('build/styles.js') }}" />
 {% endblock %}

{% block body %}
    <div style="margin-left:2%">
        <h1><b>{{ lesson.name }}</b></h1>

        <h5><p> Курс <a style="text-decoration: none" href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}
                </a></p></h5>



        <p></p> <a class="btn btn-outline-primary" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать</a></p>

        {{ include('lesson/_delete_form.html.twig') }}

        <div class="bg-light p-5 rounded">
            <p class="lead"> {{ lesson.content }}</p>
        </div>
    </div>


{% endblock %}
